.dropdown-menu {
    top: 98%;
    padding: 0;
    border-top: 3px solid rgb(4, 106, 238);
}

.dropdown-item:hover, .dropdown-item:focus {
    color: #e9ecef;
    text-decoration: none;
    background-color: rgb(4, 106, 238);
}

.dropdown-item {
    padding: 15px 74px 15px 24px;
}

.dropdown-divider {
    margin: 0;
}