// Colors
$white: #ffffff;

// Brands
$brand-primary: #006DFF;
$brand-primary-100: #59a6f8;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;
$brand-purple: #F40075;
$brand-purple-50: #E9457F;

// Transitions
$transitionSpeed: 0.15s;

// Radius'
$standardRadius: 5px;

// Breakpoints
$breakpoint-xs: 500px;
$breakpoint-sm: 650px;
